*.aadl
*.pro.user
.qtc_clangd
work/taste.pro
work/Debug
work/Dump
work/Makefile
work/binaries
work/build
work/dataview
work/glue_debug
work/skeletons_built
work/obcp_engine/C
work/obcp_engine/implem/default/C/Makefile
work/obcp_engine/implem/default/C/wrappers
work/obcp_engine/implem/default/C/*.pro
work/obcp_engine/implem/default/*.pro
work/harness/C
work/harness/implem/default/C/Makefile
work/harness/implem/default/C/wrappers
work/harness/implem/default/C/src/*.h
work/harness/implem/default/C/*.pro
work/harness/implem/default/*.pro