*.aadl
*.pro.user
.qtc_clangd
work/taste.pro
work/glue_release
work/Debug
work/Dump
work/Makefile
work/binaries
work/build
work/dataview
work/glue_debug
work/skeletons_built
work/obcp_engine/C
work/obcp_engine/C/Makefile
work/obcp_engine/C/wrappers
work/obcp_engine/C/*.pro
work/obcp_engine/*.pro
!work/obcp_engine/C/src/*.c
!work/obcp_engine/C/src/*.h
work/obcp_engine/C/src/obcp_engine.h
work/harness/C
work/harness/C/Makefile
work/harness/C/wrappers
work/harness/C/src/*.h
work/harness/C/*.pro
work/harness/*.pro
!work/harness/C/src/*.c
work/tmpworker/SDL/*
work/tmpworker/SDL/code
work/tmpworker/SDL/wrappers
work/tmpworker/SDL/src
work/tmpworker/tmpworker.pro
!work/tmpworker/SDL/src/tmpworker.pr
work/tmpworker2/SDL/*
work/tmpworker2/SDL/code
work/tmpworker2/SDL/wrappers
work/tmpworker2/SDL/src
work/tmpworker2/tmpworker2.pro
!work/tmpworker2/SDL/src/tmpworker.pr
example-obcp-array.h
example-obcp.mpy